<style type="text/css">
.styl1{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}

.styl1 h1{
	width: 100%;
	background: #43D1AF;
	padding: 20px 0;
	font-size: 160%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -1px;
}

.styl1 input[type="text"],
.styl1 input[type="date"],
.styl1 input[type="tel"],
.styl1 input[type="datetime"],
.styl1 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.styl1 input[type="text"]:focus,
.styl1 input[type="date"]:focus,
.styl1 input[type="datetime"]:focus,
.styl1 input[type="tel"]:focus,
.styl1 input[type="email"]:focus,
.styl1 input[type="number"]:focus,
.styl1 input[type="search"]:focus,
.styl1 input[type="time"]:focus,
.styl1 input[type="url"]:focus,
.styl1 textarea:focus,
.styl1 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.styl1 button[type="submit"],
.styl1 button{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	font-size: 120%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-styl1e: none;
	border-right-styl1e: none;
	border-left-styl1e: none;	
	color: #fff;
}
.styl1 input[type="submit"]:hover,
.styl1 input[type="button"]:hover{
	background: #2EBC99;
}